<div class="container clearfix">
    <div *ngIf="!carrinhoService?.carrinhoEstaVazio(); else carrinhoVazio">
        <div class="row text-center">
            <h2 class="col-12 mb-2" style="color: #333;">Lista de pedidos</h2>
        </div>
        <div class="row text-center mb-2">
            <h4 class="col-12" style="color: #555; font-size: 1.2em; font-weight: 400;">
                Confira abaixo sua lista de pedidos antes de efetuar sua compra
            </h4>
        </div>
        <ul class="d-block mx-auto list-group list-group-flush mb-3">
            <li *ngFor="let item of ordemCompra" class="d-flex justify-content-between list-group-item h-auto">
                <img class="img-fluid img-thumbnail float-left rounded mr-3" [src]="item?.photoUrl"
                    alt="Card image">

                <div class="flex-fill descricao-item h-auto">
                    <h6 class="mt-2 font-weight-bolder">{{item?.title}}</h6>
                    <p class="mt-2 mb-0 pt-2 pb-0">Por: {{item?.advertiser}}</p>
                    <p class="mt-1 mb-0 pt-0 pb-0 descricao">{{item?.description | descricaoReduzida:0:100}}</p>
                </div>

                <div class="flex-fill mt-2 box-quantidade">
                    <p class="mr-3 mb-1">Quantidade:</p>

                    <span class="mr-3">
                        <button
                            class="btn btn-sm btn-outline-primary font-weight-bolder rounded mr-1 p-0 pl-1 pr-1"
                            (click)="adicionaItem(item, 'dec')"
                            >-
                        </button>
                        <span class="mr-1 font-weight-bolder">{{item?.amount}}</span>
                        <button
                            class="btn btn-sm btn-outline-primary font-weight-bolder rounded p-0 pl-1 pr-1"
                            (click)="adicionaItem(item, 'inc')">+
                        </button>
                    </span>

                    <p class="mr-2 mt-3">
                        Preço:
                        {{item?.price * item?.amount | currency: 'BRL'}}
                    </p>
                </div>
            </li>
        </ul>

        <div class="border-bottom d-inline-block">
            <span class="h3 text-primary mr-3 total">Total Carrinho: </span>
            <span style="color: #444; font-weight: 500;" class="h3 total">{{carrinhoService.getPrecoTotal() | currency:'BRL' }}</span>
        </div>
    </div>
    
    <ng-template #carrinhoVazio>
        <div class="row text-center" style="">
            <h2 class="col-12 mb-2" style="color: #333;">Aproveite as mega ofertas especiais que separamos pra você!</h2>
            <h4 class="col-12 " style="color: #666; font-size: 1.2em; font-weight: 400;">
                Seu carrinho de compras se encontra vazio no momento.
                <a href="javascript:history.back()"
                    class="btn btn-link ml-3 rounded">Voltar</a>
            </h4>
        </div>  
    </ng-template>

    <div *ngIf="lastPurchase !== undefined && lastPurchase !== null"
        class="mx-auto d-block comprovante pb-1">

        <p class="text-center border-bottom" style="font-weight: 600;">Dados da sua última compra:</p>
        <p>Cliente: {{authService?.getUser().name}}</p>
        <p>Data: {{lastPurchase?.dateOfPurchase | date:'medium'}}</p>
        <p>Total: {{lastPurchase?.totalPrice | currency:'BRL'}}</p>
        <p class="pb-0">COD: {{lastPurchase?.id}}</p>    
    </div>
</div>

<app-formulario-ordem-compra
    *ngIf="!carrinhoService.carrinhoEstaVazio()"
    (purchaseEvent)="atualizaUltimaCompra($event)">
</app-formulario-ordem-compra>

