.container 
{
    position: relative;
    top: 2em;
    background: #fcfcfc;
    width: 50%;
}

.container p {
    font-weight: bolder;
    font-size: 1.1em;
    opacity: 0.8;
    border: 1px dotted gray;
    background: rgba(143, 165, 206, 0.333);
}

.formulario select#uf 
{
    font-size: 0.9em;
    font-weight: 400;
    color: #585757ec;
}

.formulario input {
    width: 90%;
}

.formulario {
    padding: 10px;
    padding-bottom: 5px;
}

.formulario h6 {
    font-weight: 500;
}

.formulario select {
    color: #585757ec;
    width: 13%;
    font-size: 0.9em;
    padding: 5px 0;
}

select:invalid {
    color: #666;
}

option[value=""][disabled] {
    display: none;
}

#idDataNasc {
    width: 30%;
}

form input.btn {
    width: auto !important;
}


@media(max-width: 575.98px) {
    .container {
        width: 90%;
    }

    .container input {
        width: 250px;
        display: block;
    }

    .container select {
        width: 60px;
    }

    .cvv {
        width: 70px !important;
        display: block !important;
    }

    input.btn {
        margin: 10%;
        width: 50% !important;
        display: block !important;
    }

    #idDataNasc {
        width: 180px;
    }

    div.bs-datepicker-container {
        width: 150px;
    }

    form input.btn, form button {
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }
}

@media(min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 75%;
    }

    .container input {
        width: 100%;
        display: block;
    }

    .cvv {
        width: 15% !important;
        display: block !important;
    }
}

@media(min-width: 768px) {
    .container {
        width: 75%;
    }

    .container input {
        width: 100%;
        display: block;
    }

    .cvv {
        width: 15% !important;
        display: block !important;
    }
}



