<div class="container">
  
  <h4 class="h3 text-center">Painel de gerenciamento de ofertas</h4>
  <h4 class="h5 text-center">Crie, edite ou remova ofertas</h4>
  
  <button class="add btn btn-outline-success btn-sm rounded" style="font-size: 1.0em;" (click)="openModalNovaOferta()">
    <span style="font-size: 1.0em;">+</span> Nova Oferta
  </button>

  <div style="overflow-x: auto; " 
    *ngIf="ofertasProprietarias?.length; else semOfertas">
    <table>
      <thead>

        <tr>
          <th>Foto</th>
          <th>Categoria</th>
          <th>Título</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Obs.</th> 
          <th>Ação</th>
          <th>Localização</th>
          <th>Hanking?</th>
          
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let oferta of ofertasProprietarias">
          <td style="max-width: 8em; margin: 1em; padding: 0.5em 0;">
          <img *ngIf="oferta?.photos.length" width="70%" class="img-thumbnail" [src]="oferta?.photos[0]?.url">
        </td>
        <td>{{oferta?.category}}</td>
        <td class="pl-3 pr-3">{{oferta?.title}}</td>
        <td class="pl-3 pr-3">{{oferta?.description | descricaoReduzida:0:50}}</td>
        <td>{{oferta?.price  | currency: 'BRL'}}</td>
        <td>{{oferta?.comoUsar | descricaoReduzida:0:50 }}</td>
        <td>
          <a [routerLink]="['/oferta', oferta.id]"  class="btn btn-link btn-sm p-0 d-block">Ver</a>
          <a (click)="openModalAlteraOferta(oferta)" class="btn btn-link btn-sm p-0 d-block">Alterar</a>
          <a (click)="removerOferta(oferta.id)"  class="btn btn-link btn-sm p-0 d-block">Remover</a>
        </td>
        <td>{{oferta?.ondeFica | descricaoReduzida:0:50}}</td>
        <td>{{oferta?.isHanked ? 'Sim' : 'Não'}}</td>
      </tr>
    </tbody>
      
    </table>
  </div>

  <ng-template #semOfertas>
    <div class="text-center" style="position: relative; top: 3em; color: #666; font-size: 1.0em;">
      <h4 class="h6 text-center font-italic">Não há ofertas cadastradas em sua conta</h4>
    </div>
  </ng-template>
</div>