<div class="container">
    <div class="row text-center mb-3">
        <h2 class="col-12 mb-2" style="color: #333;">Destaques do dia!</h2>
        <h4 class="col-12" style="color: #666; font-size: 1.2em; font-weight: 400;">Aproveite as super ofertas que separamos para você:
        </h4>
    </div>

    <div class="card-columns">
        <div class="card p-1"
            *ngFor="let oferta of ofertas">
            <img class="card-img-top" [src]="oferta.imagens[0].url" alt="Card image" >
            <div class="card-body h-50 p-0 text-center">
                <h4 class="card-title">{{oferta.titulo}}</h4>
                <p class="card-text text-left ml-2 mb-2">{{oferta.descricao}}</p>

                <p class="text-warning preco d-inline-block mr-1">R$ {{oferta.valor}}</p>
                <a [routerLink]="['/oferta', oferta.id]" routerLinkActive="router-link-active"  class="btn btn-sm btn-outline-primary rounded float-right">Ver oferta</a>
            </div>
        </div>
    </div>
</div>