<div class="container" style="position: relative; top: 9.5em;">
    <div class="row text-center mb-3">
        <h2 class="col-12 mb-2" style="color: #333;">Destaques do dia!</h2>
        <h4 class="col-12" style="color: #666; font-size: 1.2em;">Aproveite as super ofertas que separamos para você:</h4>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-2">
                <img class="card-img-top" src="../../assets/ofertas/1/img1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Super Burguer</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="text-warning preco">R$ 29,90</p>
                    <a href="#" class="btn btn-outline-primary">Ver oferta</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-2">
                <img class="card-img-top" src="../../assets/ofertas/2/img1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Cozinha Mexicana</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="text-warning preco">R$ 29,90</p>
                    <a href="#" class="btn btn-outline-primary">Ver oferta</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-2">
                <img class="card-img-top" src="../../assets/ofertas/3/img1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Pizza Italiana</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="text-warning preco">R$ 29,90</p>
                    <a href="#" class="btn btn-outline-primary">Ver oferta</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-2">
                <img class="card-img-top" src="../../assets/ofertas/4/img1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Estância das Águas</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="text-warning preco">R$ 29,90</p>
                    <a href="#" class="btn btn-outline-primary">Ver oferta</a>
                </div>
            </div>
        </div>
    </div>
</div>