<div class="fixed-top">
    <div class="area-logo">
        <div class="container">
            <img src="../../assets/logo.png" alt="Passaro Urbano">
            <img src="../../assets/carrinho.png" alt="Seu Carrinho">
        </div>
    </div>
    <div class="bg-primary">
        <nav class="container navbar navbar-expand-sm bg-primary navbar-dark p-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Restaurantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Diversão</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Ofertas</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div style="position: relative; top: 8.5em;">

    <carousel>
        <slide>
            <img class="img-fluid d-block mx-auto" width="92%" src="../../assets/banners/img_1.jpg" alt="banner1">
        </slide>
        <slide>
            <img class="img-fluid d-block mx-auto" width="92%" src="../../assets/banners/img_2.jpg" alt="banner2">
        </slide>
        <slide>
            <img class="img-fluid d-block mx-auto" width="92%" src="../../assets/banners/img_3.jpg" alt="banner3">
        </slide>
        <slide>
            <img class="img-fluid d-block mx-auto" width="92%" src="../../assets/banners/img_4.jpg" alt="banner4">
        </slide>
    </carousel>
</div>