<div class="fixed-top">
    <div class="area-logo pb-4">
        <div class="container">
            <!-- <img src="/assets/logo.png" class="d-inline-block" alt="Passaro Urbano"> -->
            <img src="/assets/bigoferta2.jpg" 
                style="width: 120px; cursor: pointer;"
                routerLink="/"
                class="d-inline-block ml-5 mr-3 mt-2" title="Big Oferta App" alt="Big Oferta">
            
            <div class="d-inline-block w-50 position-absolute mr-3" style="z-index: 1;">
                <input type="text" 
                    class="form-control rounded mt-2" 
                    placeholder="Pesquise por ofertas..."
                    #termoPesquisa 
                    (input)="pesquisaPorOfertas(termoPesquisa.value)">
                    
                <div class="list-group">
                    <!-- pipe async se inscreve no observable e passa a receber dados -->
                    <a *ngFor="let oferta of (ofertas | async)" [routerLink]="['/oferta', oferta.id]"
                        routerLinkActive="router-link-active" (click)="limpaPesquisa(oferta.id)"
                        class="list-group-item list-group-item-action">
                        {{oferta.description | descricaoReduzida:0:60 }}
                    </a>
                </div>
            </div>
            
            <div class="d-inline position-relative">
                <span *ngIf="authService?.isLoggedIn()">
                    <a class="profile" routerLink="/">
                        <img src="/assets/user.png" title="usuário" class="d-inline-block img-thumbnail ml-5 img-fluid float-right" alt="Seu Carrinho">
                    </a>
                    <a
                        title="seu carrinho de compras" class="carrinho" routerLink="/ordem-compra">
                        <img src="/assets/carrinho.png" 
                        class="d-inline-block img-fluid float-right" 
                        alt="Seu Carrinho">  
                    </a>
                    <a
                        routerLink="/ordem-compra" title="valor total do carrinho" class="preco-carrinho font-weight-bolder">
                        {{carrinhoService.getPrecoTotal() | currency: 'BRL'}}
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <nav class="container navbar navbar-expand-sm bg-primary navbar-dark p-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="text-light nav-link" [routerLink]="['']" routerLinkActive="router-link-active" href="#">Destaques</a>
                </li>
                <li class="nav-item">
                    <a class="text-light nav-link" [routerLink]="['/restaurante']" href="#">Restaurantes</a>
                </li>
                <li class="nav-item">
                    <a class="text-light nav-link" [routerLink]="['/diversao']" href="#">Diversão</a>
                </li>
                <li *ngIf="authService?.isLoggedIn()" class="nav-item">
                    <a class="text-light nav-link" [routerLink]="['/ordem-compra']" href="#">Meu carrinho</a>
                </li>

                <li *ngIf="!authService?.isLoggedIn()" class="nav-item position-absolute"  style="right:9.5%;">
                    <a class="text-light nav-link" [routerLink]="['/cadastro']" href="#">Cadastro gratuito</a>
                </li>
                <li *ngIf="authService?.isLoggedIn()" class="nav-item">
                    <a class="text-light nav-link" [routerLink]="['/user/painel']" href="#">Painel</a>
                </li>
                
                <li *ngIf="authService?.isLoggedIn()" class="nav-item">
                    <a class="text-light nav-link" (click)="logout()" [routerLink]="['/login']" href="#">Logout</a>
                </li>
            </ul>
            <span class="position-absolute navbar-text"
                style="right: -4%; cursor: context-menu;">

                <span *ngIf="authService?.isLoggedIn()"
                    class="text-light pl-2 pr-2"
                    [title]="'Welcome '+ getUsername() + '!'">
                    Olá, {{getUsername()}}!
                </span>

                <span *ngIf="!authService?.isLoggedIn()"
                    [routerLink]="['/login']"
                    style="cursor: pointer;"
                    class="text-white nav-link pl-2 pr-2">
                    Entre com sua conta
                </span>
            </span>
        </nav>
    </div>
</div>